<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/clientes/form}" th:object="${cliente}"
					method="post">
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Apellidos:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputPassword"
								th:field="*{apellidos}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellidos')}"
								th:errors="*{apellidos}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Nombres:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputPassword"
								th:field="*{nombres}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Email:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputPassword"
								th:field="*{email}" th:errorclass="'form-control alert-danger'">
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Fecha
							de creación:</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="inputPassword"
								th:field="*{fechaCreacion}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaCreacion')}"
								th:errors="*{fechaCreacion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-10 offset-md-2">
							<button type="submit" class=" btn btn-primary mb-2">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>